* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    background-color: #E5E5E5;
}

.content>.left-navbar>.left-navbar-item {
    padding: 1rem;
    text-align: center;
    background-color: white;
}

.list-product-item :hover {
    background-color: #E5E5E5;
}

.img_logo img:hover {
    border: 2px dashed #6C6C6C;
}

#footer {
    margin-top: -3%;
    margin-left: -13px;
    width: 1144px;
}