/.metadata/
/quan-ly-do-xay-nha/target/m2e-wtp/web-resources/META-INF/maven/quan-ly-do-xay-nha/quan-ly-do-xay-nha/pom.properties/
/quan-ly-do-xay-nha/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF/